@use '../../abstract/mixins';
@use '../../abstract/var';
@use '../../abstract/root';



.dark-mode{

  .home{
     position: relative; // necessário para o overlay

    &::before {
        content: '';
        position: absolute;
        inset: 0; // cobre toda a seção
        background: rgba(0, 0, 0, 0.3); // leve camada preta
        border-radius: 20px; // mantém cantos arredondados se necessário
        pointer-events: none; // não bloqueia cliques
        z-index: 0;
    }

  }


    .header{
        background: linear-gradient(
        to left, 
        var.$black,         
        var.$azul-escuro
      );

       background-size: 500% 100%;
      animation: degrade 4s infinite alternate;
    }
}