@use '../../abstract/mixins';
@use '../../abstract/var';
@use '../../abstract/root';

.thunder{
    background-image: url("../../../assets/images/fundo-grid-azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    .thunder__title{
        @include mixins.font-style(var.$fonte, 70px, var.$white, bold);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 1rem 0;
    }

    .thunder__container{

       
        width: 800px;
        height: 600px;
        border: 1px solid #ccc;
        background-color: transparent;  
    }
}


@media (max-width: 900px) {
    .thunder__container {
        width: 90%;
        height: 400px;
    }
}

@media (max-width: 600px) {
    .thunder__container {
        width: 100%;
        height: 300px;
    }
}