// Cores
$azul-primario: #3C4D88;
$azul-claro: #3C6A8F;
$azul-escuro: #3E3C8F;
$roxo: #513885;
$ciano: #209DB3;
$black: #1A1A1A;
$white: #F5F5F5;

//fontes
$fonte: 'Dubai', sans-serif;                          